@font-face {
    font-family: letraNF;
    src: url(../tipografia/TangoSans.ttf);
}


  
body{
    background-image: url(../imagenes/fondo_marron.png);
    position: absolute;
    width:100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.banner
{
    top: 0;
    left: 0;
    background-color:black;
    height: auto;
    position: fixed;
    width:100vw;
}

.titulo
{
    color:#ffffff;
    text-align:left;
    vertical-align:text-top;
    font-size: 50px;
    font-family: letraNF;
    margin-top: 2.5%;
    margin-left: 6%;
    position:absolute;
}
.user
{
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    margin-right: 3%;
    gap: 1.2%;
}

.imagen_user
{
    height:53.35820770263672px;
    margin-top: 0%;
}

.formulario{
    margin-left: 25%;
    margin-top: 2%;
    place-items: center;
    background: rgba(255, 255, 255, 0.7) ;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 10px 15px 20px black;
    position: absolute;
    font-family: letraNF;
    width: max-content;
    height: max-content;
    
}


.imguser{
    height: 30vh;
}

.nombreuser{
    text-align: center;
    font-size: 50px;
}

.infouser{
    display: flex;
    justify-content: flex-start;
    width: max-content;
}


.datosusario ul{
    margin-top: 30%;
    list-style: none;
    padding-left: 2vw;
   
}
.datosusario li{
    margin-top: 20%;
}


.form{
    padding-top: 2%;
    font-size: 20px;
}

.preferencias{

    width: max-content;
    margin-top: 4%;
    padding-left: 2vw;
    
}

.pref{
    margin-top: 3%;
    font-size: 50px;
    text-decoration: underline;
}




.btn{
    margin-bottom: 0px;
    height: max-content;
    width: max-content;
    
}	

.btn-hover {
	width: max-content;
	font-size: 16px;
	font-weight: 600;
	font-family: lora;
	color: #fff;
	cursor: pointer;
	height: 40px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 50px;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
    margin-top: 9.5%;
    
}

.btn-hover:hover {
	background-position: 100% 0;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.btn-hover:focus {
	outline: none;
}

.btn-hover.color-1 {
	background-image: linear-gradient(to right, red,red,black,black);
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
   
}

