.mainBanner { 
	background-color:rgba(199.0000033378601, 76.0000030696392, 74.0000031888485, 0.800000011920929);
	width:1440px;
	height:106px;
}


.fondoGris { 
	background-color:rgba(207.1875, 207.1875, 207.1875, 1);
	opacity:0.800000011920929;
	width:1440px;
	height:636px;
}

.fondoRojo { 
	background-color:#ffd9d9;
	opacity:0.800000011920929;
	width:1440px;
	height:636px;
}

.titulos { 
	color:rgba(255, 255, 255, 1);
	width:221px;
	height:63px;
	font-family:Lora;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
  margin-left: 125px;
  margin-right: 800px;
}

brs {
            display: block; /* makes it have a width */
            content: ""; /* clears default height */
            margin-top: 5px; /* change this to whatever height you want it */
}

.logSig { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:25px;
	font-family:Lora;
	font-size:20px;
	letter-spacing:0;
  text-align: right;
  margin-right: 35px;
}

.abt { 
	color:rgba(23.37500050663948, 3.6036449298262596, 3.6036449298262596, 1);
	width:145px;
	height:25px;
	font-family:Lora;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
  margin-left: 280px;
  margin-right: 35px;
}

.cnt { 
	color:rgba(23.37500050663948, 3.6036449298262596, 3.6036449298262596, 1);
	width:145px;
	height:25px;
	font-family:Lora;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}

.logo { 
	width:200px;
	height:194.4805145263672px;
	background-image:url(https://i.imgur.com/I3nmJKz.png);
	background-repeat:no-repeat;
	background-size:cover;
  display: inline-block;
  margin-left: 600px;
  margin-top: 150px;
  margin-bottom: 200px;

}

.gml { 
	width:50px;
	height:50px;
	background-image:url(images/kisspng_gmail_computer_icons_logo_email_gmail_5abe0bb3cba7c3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}


.scnTit { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:34px;
	font-family:Lora;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
  margin-left: 195px;
  margin-right: 300px;
}

.trdTit { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:34px;
	font-family:Lora;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
  margin-left: 50px;
  margin-right: 300px;
}

.desc { 
	color:rgba(0, 0, 0, 1);
	width:496px;
	height:236px;
	font-family:Lora;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
  margin-left: 50px;
  column-gap: 75px;
  column-count: 1;
    column-gap: 230px;


}

.descr {

  height:5000px;
  font-size:14pt;

}

.usuario { 
	
	opacity:0.800000011920929;
	width:1258px;
	height:465px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
  background: linear-gradient(270deg, #C8F9B7 63.99%, #F2FF61 100%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 125px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 15px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}